version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:v1.16.3
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: csr_user
      POSTGRES_PASSWORD: csr_pass
      POSTGRES_DB: csr_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  qdrant_data:
  pgdata:
